@font-face {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 300;
    src: local('Overpass Light'), local('Overpass-Light'), url('../fonts/Overpass-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 400;
    src: local('Overpass Regular'), local('Overpass-Regular'), url('../fonts/Overpass-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    src: local('Overpass Bold'), local('Overpass-Bold'), url('../fonts/Overpass-Bold.ttf') format('truetype');
}
